@media only screen and (max-width: 786px){
    
    .head{
        display: none;
        .nav{
            display: none;
        }
    }

    .about{
        &__contentBox{
            // color: blue;
            width: 90vmin;
            // display: none;
            // width: 10vmin;
        }
    }
}