@import '_holders';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}



body {
    width: min(100%, 100vw);
    height: 100vh;
    // overflow-y: scroll;
    overflow-x: hidden;
    background-color: $secondary;

    // overflow: hidden;


    // &::-webkit-scrollbar{
    //     background: $secondary;
    //     height: 19px;
    //     width: 1vw;
    // }

    //  &::-webkit-scrollbar-thumb{
    //      background-color: $primary ;
    //      border-radius: 1em;

    // }

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $secondary;
}

.main {
    // margin-right: 60px;
    width: 100vw;
    height: 100%;
    scroll-snap-type: y proximity;
    // overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        background: $secondary;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 1em;
    }

    // scrollbar-gut    ter: stable both-edges;

    section {
        position: relative;
        width: 100vw;
        padding-right: calc(100vw - 100%);
        min-height: 100vh;
        scroll-snap-align: start;

    }


}

.head {
    position: fixed;
    width: min(100%, 100vw);
    padding: 1em 5vmin 1em 5vmin;
    color: $secondary;
    background: linear-gradient(90deg, $text 50%, $secondary 50%);
    z-index: 99;

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__links {
            display: flex;
            gap: 1.5em;

            &-linkSpan {
                color: $primary;
            }
        }

        &__icons {
            display: flex;
            gap: 1.5em;
            align-items: center;


            &-icon {
                color: $text;
                font-size: calc(1em + 1.5vmin);

                &:hover {
                    color: $primary;
                }
            }
        }

        &--resume {
            background: $primary;
            padding: 0.5em 1em 0.5em 1em;
            border-radius: 1em;
            color: $text;

            &:hover {
                background: $text;
                color: $primary;
            }
        }

        &--link {
            font-weight: 600;
        }
    }
}


.headerText {
    color: $text;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    font-size: calc(1em + 1.5vmin);
    // opacity: 0;

    &__order {
        color: $primary;
    }
}

.lights {
            display: flex;
            // width: 10vmin;
            // height: 10vmin;
            position: absolute;
            top: -2.5vh;
            transform: translateY(-50%);
            z-index: 8;
            gap: 1vmin;

            span {
                width: 2vmin;
                height: 2vmin;
                border-radius: 50%;
                background-color: $secondary;

                &:nth-of-type(2) {
                    background-color: $primary;
                }
            }
        }


.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, $text calc(50% + (100vw - 100%)), $secondary 50%);

    .header {
        writing-mode: vertical-lr;
        text-align: center;
        transform: rotate(180deg);
        height: 100vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: calc(1.5em + 6vmin);
        position: absolute;
        top: 0;
        left: 0;
        color: $secondary;

        &__tag {
            font-size: calc(0.01em + 2.2vmin);
            font-family: 'Roboto Mono', monospace;
            font-weight: 200;
            font-style: italic;
        }
    }

    .me {
        position: relative;
        // margin: auto auto auto auto;
        // background: lighten($secondary,20);
        // border-radius: 50%;
        // padding: 6%;
        // top: 50%;
        // transform: translateX(-50%);
        // justify-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            background: radial-gradient(ellipse at 10%, #704597 0%, rgba(111, 69, 151, 0.068) 88.42%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transform: scale(1.2);
            z-index: 0;
        }

        // &::after{
        //     position: absolute;
        //     content: "";
        //     top: 0;
        //     left: 50%;
        //     bottom: 0;
        //     border: 1px solid $text;
        //     border-radius: 50%;
        //     width: 50%;
        //     height: 50%; 

        // }



        &__pic {
            width: 48vmin;
            height: fit-content;
            background: lighten($secondary, 20);
            padding: 5vmin;
            border-radius: 50%;
            position: relative;

            // transform: translateY(-4vmin);
        }

    }

    .bottom {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 2em;
        left: 50%;
        transform: translateX(-50%);

        .secHeader {
            font-family: "Space Mono", monospace;
            font-size: calc(1em + 1.6vmin);
            background: linear-gradient(90deg, $secondary 50%, $text 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .name {
            padding: 0.3em 0 0 0;
            background: linear-gradient(90deg, $secondary 50%, $text 50%);
            font-size: calc(1em + 0.8vmin);
            font-weight: normal;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .scroll {
        font-family: "Roboto Mono", monospace;
        display: flex;
        align-items: center;
        color: $primary;
        font-weight: 400;
        writing-mode: vertical-lr;

        position: fixed;
        z-index: 4;
        right: 2.1vmin;
        bottom: 1em;

        &Span {
            font-weight: 100;
            font-size: 0.8em;
            padding: 0.5em 0 0.5em 0;
        }
    }



}


.about {
    position: relative;
    background: $secondary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 0 10vh 0;


    &__header {
        padding: calc(4em + 1.5vmin) 0 15vh 0;

    }

    &__contentBox {
        position: relative;
        width: 60vmin;
        height: fit-content;
        background-color: $text;
        border-top: 2px solid black;
        padding: 2em 5vmin 2em 5vmin;
        line-height: 1.8em;
        letter-spacing: 0.15vmin;
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh;

        &::after {
            content: "";
            position: absolute;
            top: -5vh;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5vh;
            transform: translateY(-2px);
            background: $text;
            border-top-left-radius: 23px;
            border-top-right-radius: 23px;
        }

        
    }




}

.skills {
    margin: 0 0 20vmin 0;
    padding: 10vmin 5vmin 0 5vmin;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header {
        color: $text;
    }

    &__list {
        margin: 15vmin 0 0 0;
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 10vmin;

        &-item {
            padding: 0 0 0 0;
            color: $text;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1em;

            .logoImage {

                font-size: calc(2em + 10vmin);
                color: $primary;

                &__text {
                    color: $text;
                }

                &__django {
                    max-width: calc(2em + 20vmin);
                }

                &__nuxt {
                    max-width: calc(2em + 10vmin);
                }
            }

            &::marker {
                color: $primary;

            }
        }
    }
}

.works {
    padding: 10vmin 0 10vmin calc(100vw - 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        padding: 4vmin 0 8vmin 0;
    }

    .workCard {
        position: relative;
        width: 95%;
        // background-color: blue;
        height: 60vmin;



        &__image {
            object-fit: cover;
            // object-position: 0% 10%;
            // width: 60%;
            height: 60vmin;
            max-width: 100%;
        }

        &__Text {
            // background-color: green;
            position: absolute;
            right: 0%;
            top: 0;
            width: 40%;
            transform: translateX(0%);
            color: $text;

            &-header {
                font-size: calc(1.5em + 1vmin);
                padding: 0 0 1em 0;
                text-align: right;
                text-transform: uppercase;
                font-family: 'Space Mono', monospace;
                font-weight: 700;
            }

            &-description {
                background-color: #4e2674;
                padding: 2vmin;
                text-align: right;
                box-shadow: 3px 30px 17px -25px #191515;
                line-height: calc(1em + 1.5vmin);
            }


            &-stack {
                font-weight: 100;
                text-align: right;
                padding: 1em 0 1em 0;
            }
        }
    }

    .slideWorks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10vmin 5vmin;
        width: 100%;
        // overflow: scroll;
        // flex: 1 0;
        margin: 0vmin 0 0 0;

        &__title{
            margin: 30vmin 0 15vmin 0;
            color: $text;
            font-size: calc(1em + 0.8vmin); 
        }

        .slideCard {
            // flex: 0 0;
            position: relative;
            $color: $secondary;
            background: $text;
            width: 45vmin;
            height: calc(45vmin + 1em);
            padding: 0 1em 1em 1em;
            border-top: 1px solid $secondary;
            display: flex;
            flex-direction: column;
            // align-items: space-between;
            justify-content: space-between;

             &::after {
            content: "";
            position: absolute;
            top: -5vh;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5vh;
            transform: translateY(-2px);
            background: $text;
        }


            &__topLinks {
                font-size: calc(0.8em + 1vmin);
                position: absolute;
                top: -2.5vh;
                right: 1em;
                z-index: 2;
                transform: translateY(-50%);
            }

            &__top{
                &-title{
                    font-family: 'Space Mono', monospace;
                    font-size: calc(1.2em + 0.5vmin);
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 0.5em 0 0.5em 0;
                }
            }

            &__lang{
                font-weight: 100;
                font-size: 1em;
            }
        }
    }
}


.contact{
    padding: 10vmin 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__top{
        padding: 8vmin 0 6vmin 0;
        color: $text;
        text-align: center;
        line-height: 2.4em;

        &-msg{
            font-size: calc(1.2em + 1vmin);
            font-weight: 700;
        }
        &-subMsg{
            font-size: calc(1em + 0.5vmin); 
            font-weight: 200;           
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 5vmin;
        width: 40vmin;

        .input{
            padding: 0.5em 0 0.5em 1.5em;
            font-size: calc(0.8em + 0.7vmin);
            background: none;
            border: 1px solid $primary;
            color: $text;
            resize: none;

            &--submit{
                background-color: $primary;
                padding: 0.5em 0 0.5em 0;
            }

            &::placeholder{
                color: $primary;
            }

            &:focus{
                outline-color: $primary;
                border: 1px solid $primary;
            }
        }
    }
}


// #head{
//     transform: rotate(10deg);
//     transform-origin: center;
// }



@import '_mobMain.scss';