@import '_holders';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.button{
    display: block;
    width: fit-content;
    padding: 0.5em 4vmin 0.5em 4vmin;
    border-radius: 5px;
    border: 2px solid $primary;
    background: $secondary;
    color: $primary;
    font-size: calc(0.7em + 1vmin);
    font-weight: 700;
    text-transform: capitalize;

    &:hover{
        background: transparentize($primary, 0.85);
        // // outline: 1px solid $text;
        color: $primary;
        // box-shadow: 1px 10px 30px -10px rgb(0, 0, 0);
    }
   
}

body {
    width: min(100%, 100vw);
    height: 100vh;
    // overflow-y: scroll;
    overflow-x: hidden;
    background-color: $secondary;

    // overflow: hidden;


    // &::-webkit-scrollbar{
    //     background: $secondary;
    //     height: 19px;
    //     width: 1vw;
    // }

    //  &::-webkit-scrollbar-thumb{
    //      background-color: $primary ;
    //      border-radius: 1em;

    // }

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $secondary;
}

.main {
    // margin-right: 60px;
    width: 100vw;
    height: 100%;
    scroll-snap-type: y proximity;
    // overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: calc(2px + 2vmin);
        background: $secondary;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 1em;
    }

    // scrollbar-gut    ter: stable both-edges;

    section {
        position: relative;
        width: 100vw;
        margin-right: calc(2vmin + 2px);
        min-height: 100vh;
        scroll-snap-align: start;
        background: $secondary;

    }


}



.head {
    position: fixed;
    width: min(100%, 100vw);
    padding: 1em 5vmin 1em 5vmin;
    color: $secondary;
    // background: linear-gradient(90deg, $text 50%, $secondary 50%);
    background: transparentize($secondary, 0.1); 
    z-index: 99;

    .hamburger{
        display: none;
        z-index: 2;
        color: $primary;
        font-size: calc(1em + 3.5vmin);
        cursor: pointer;
    }

    .mobNav{
        width: 80vw;
        height: 100vh;
        overflow-y: scroll;
        position: absolute;
        top: 0;
        left: 0;
        // right: 0;
        bottom: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: $secondary;
        padding: 0 0 2em 0;
        transition: opacity 4s;
        box-shadow: 1px 1px 53px 0px black;

            &::-webkit-scrollbar {
        width: calc(2px + 2vmin);
        background: $secondary;

        &::after{
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: white;
        }
    }




   

    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 1em;
    }


        &__header{
            color: $text;
            padding: 15vmin 0 20vmin 0;
            font-family: "Space Mono", monospace;
            // text-decoration: underline wavy $primary;
        }
    }

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__links {
            display: flex;
            gap: 1.5em;
            // color: $primary; 

            &-linkSpan {
                color: $primary;
            }
        }

        &__icons {
            display: flex;
            gap: 1.5em;
            align-items: center;


            &-icon {
                color: $text;
                font-size: calc(1em + 1.5vmin);

                &:hover {
                    color: $primary;
                }
            }
        }

        &--resume {
            background: $primary;
            padding: 0.5em 1em 0.5em 1em;
            border-radius: 5px;
            color: $text;

            &:hover {
                background: $text;
                color: $primary;
            }
        }

        &--link {
            font-weight: 600;
            color: $text; 
             &:hover{
                    text-decoration: underline wavy $primary;
                }
        }
    }
}


.headerText {
    color: $text;
    text-transform: uppercase;
    font-family: 'Space Mono', monospace;
    font-size: calc(1em + 1.5vmin);
    // opacity: 0;

    &__order {
        color: $primary;
    }
}

.lights {
            display: flex;
            // width: 10vmin;
            // height: 10vmin;
            position: absolute;
            top: -2.5vh;
            transform: translateY(-50%);
            z-index: 8;
            gap: 1vmin;

            span {
                width: 2vmin;
                height: 2vmin;
                border-radius: 50%;
                background-color: $secondary;

                &:nth-of-type(2) {
                    background-color: $primary;
                }
            }
        }


.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background: linear-gradient(90deg, $text calc(50% + (100vw - 100%)), $secondary 50%);
    background: rgba(255, 255, 255, 0)!important;     

    .header {
        // writing-mode: vertical-lr;
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 0 0.3em;
        // text-align: center;
        transform: rotate(0deg);
        // height: 100vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: calc(1.5em + 3vmin);
        // position: absolute;
        // top: 0;
        // left: 0;
        color: $text;

        &__tag {
            font-size: calc(0.1em + 2.2vmin);
            font-family: 'Roboto Mono', monospace;
            font-weight: 100;
            // display: none;
            font-style: italic;
            color: transparentize($primary, 0.35)
        }
    }

    .me {
        position: relative;
        // margin: auto auto auto auto;
        // background: lighten($secondary,20);
        // border-radius: 50%;
        // padding: 6%;
        // top: 50%;
        // transform: translateX(-50%);
        // justify-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0 0 12vmin 0 ;

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            background: radial-gradient(ellipse at 10%, #704597 0%, rgba(111, 69, 151, 0.068) 88.42%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transform: scale(1.2);
            z-index: 0;
        }

        // &::after{
        //     position: absolute;
        //     content: "";
        //     top: 0;
        //     left: 50%;
        //     bottom: 0;
        //     border: 1px solid $text;
        //     border-radius: 50%;
        //     width: 50%;
        //     height: 50%; 

        // }



        &__pic {
            width: 35vmin;
            height: fit-content;
            background: lighten($secondary, 20);
            padding: 5vmin;
            border-radius: 50%;
            position: relative;

            // transform: translateY(-4vmin);
        }

    }

    .bottom {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0vmin;

        // left: 50%;
        // transform: translateX(-50%);

        .secHeader {
            font-family: "Roboto Mono", monospace;
            font-size: calc(1em + 1.6vmin);
            font-weight: 400;
            color: transparentize($text,0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 1vmin;
            // background: linear-gradient(90deg, $secondary 50%, $text 50%);
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }

        .name {
            padding: 0 0 0 0;
            // background: linear-gradient(90deg, $secondary 50%, $text 50%);
            font-size: calc(1em + 0.8vmin);
            font-weight: normal;
            color: $text;
            color: darken($text, 30)
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }

    }

    .scroll {
        font-family: "Roboto Mono", monospace;
        display: flex;
        align-items: center;
        color: $primary;
        font-weight: 400;
        writing-mode: vertical-lr;

        position: fixed;
        z-index: 4;
        right: 2.1vmin;
        bottom: 1em;

        &Span {
            font-weight: 100;
            font-size: 0.8em;
            opacity: 0.3;
            padding: 0.5em 0 0.5em 0;
        }
    }



}


.about {
    position: relative;
    background: rgba(255, 255, 255, 0)!important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 0;


    &__header {
        padding: calc(4em + 1.5vmin) 0 10vmin 0;

    }

    &__contentBox {
        position: relative;
        width: 60vmin;
        height: fit-content;
        background-color: $text;
        border-top: 2px solid black;
        padding: 2em 5vmin 2em 5vmin;
        line-height: 1.8em;
        letter-spacing: 0vmin;
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh;
        text-transform: lowercase;

        &::after {
            content: "";
            position: absolute;
            top: -5vh;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5vh;
            transform: translateY(-2px);
            background: $text;
            border-top-left-radius: 23px;
            border-top-right-radius: 23px;
        }

        
    }

}

.skills {
    margin: 0 0 20vmin 0;
    padding: 10vmin 15vmin 0 15vmin;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header {
        color: $text;
    }

    &__holder{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        margin: 15vmin 0 0 0;
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 10vmin;

        &-item {
            padding: 0 0 0 0;
            color: $text;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1em;

            .logoImage {

                font-size: calc(2em + 10vmin);
                color: $primary;

                &__text {
                    color: $text;
                }

                &__django {
                    max-width: calc(2em + 20vmin);
                }

                &__nuxt {
                    max-width: calc(2em + 10vmin);
                }
            }

            &::marker {
                color: $primary;

            }
        }
    }
}

.works {
    // margin: 30vmin 0 0 0;
    padding: 0 0 10vmin 0;
    width: 100%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $secondary;

    &__header {
        padding: 15vmin 0 8vmin 0;
    }

    &__holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20vmin;
        width: 100%;
    }

    .workCard {
        position: relative;
        width: 95%;
        // background-color: blue;
        // height: 60vmin;



        &__image {
            
            object-fit: cover;
            // object-position: 0% 10%;
            // width: 60%;
            height: 60vmin;
            max-width: 100%;
        }

        &__Text {
            // background-color: green;
            position: absolute;
            right: 0%;
            top: 0;
            width: 40%;
            transform: translateX(0%);
            color: $text;
        
            &-link{
                color: darken($text, 10);
                display: flex;
                gap: 0 0.2em;
                align-items: center;

                &:hover{
                    color: $primary;
                }
            }

            &-links{
                text-align: right;
                display: flex;
                justify-content: flex-end;
                gap: 0 1em;
            }

            &-header {
                font-size: calc(1.5em + 1vmin);
                padding: 0 0 1em 0;
                text-align: right;
                text-transform: uppercase;
                font-family: 'Space Mono', monospace;
                font-weight: 700;
            }

            &-description {
                background-color: #4e2674;
                padding: 2vmin;
                text-align: right;
                box-shadow: 3px 30px 17px -25px #191515;
                line-height: calc(1em + 1.5vmin);
            }


            &-stack {
                font-weight: 100;
                text-align: right;
                padding: 1em 0 1em 0;
            }
        }
    }

   
}

.notableWorks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     .slideWorks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10vmin 5vmin;
        width: 100%;
        // overflow: scroll;
        // flex: 1 0;
        margin: 0vmin 0 0 0;

        &__holder{
            padding: 15vmin 0 0 0;

        }

        &__title{
            margin: 0 0 20vmin 0;
            color: darken($text, 15);
            font-size: calc(1em + 0.8vmin); 
            text-align: center;
        }

        .slideCard {
            // flex: 0 0;
            position: relative;
            // $color: $secondary;
            background: darken($text, 10);
            width: 45vmin;
            height: calc(45vmin + 1em);
            padding: 0 1em 1em 1em;
            border-top: 1px solid $secondary;
            display: flex;
            flex-direction: column;
            // align-items: space-between;
            justify-content: space-between;

            .slideLights{
                span{
                    width: 1.2vmin;
                    height: 1.2vmin;
                }
            }

             &::after {
            content: "";
            position: absolute;
            top: -5vh;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5vh;
            transform: translateY(-2px);
            background: darken($text, 10);
        }


            &__topLinks {
                font-size: calc(0.8em + 1vmin);
                position: absolute;
                top: -2.5vh;
                right: 1em;
                z-index: 2;
                transform: translateY(-50%);

                &-icon{
                    color: $secondary;

                    &:hover{
                        color: $primary;
                    }
                }
            }

            &__top{
                
                display: -webkit-box;
                max-height: calc(1.5em * 10   );
                // white-space: nowrap;
                -webkit-line-clamp: 9;
                line-height: 1.5em;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                overflow: hidden;
                
                &-title{
                    font-family: 'Space Mono', monospace;
                    font-size: calc(1.2em + 0.5vmin);
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 0.5em 0 0.5em 0;
                }
                &-description{
                    // text-align: justify;
                    font-size: calc(0.5em + 1.5vmin);
                    padding: 0 0 5vmin 0;
                    text-transform: lowercase;
                }
            }
        

            &__lang{
                font-weight: 100;
                font-size: calc(0.4em + 0.5em);
            }
        }
    }
}


.contact{
    padding: 10vmin 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__top{
        padding: 8vmin 0 6vmin 0;
        color: $text;
        text-align: center;
        line-height: 2.4em;

        &-msg{
            font-size: calc(1.2em + 1vmin);
            font-weight: 700;
        }
        &-subMsg{
            font-size: calc(1em + 0.5vmin); 
            font-weight: 200;           
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        row-gap: 5vmin;
        width: 40vmin;

        .input{
            padding: 0.5em 0 0.5em 1.5em;
            font-size: calc(0.8em + 0.7vmin);
            background: none;
            border: 1px solid $primary;
            color: $text;
            resize: none;

            &--submit{
                background-color: $primary;
                padding: 0.5em 0 0.5em 0;
            }

            &::placeholder{
                color: $primary;
            }

            &:focus{
                outline-color: $primary;
                border: 1px solid $primary;
            }
        }
    }

    &__links{
        // background-color: white;
        margin: 15vh 0 0 0;
        display: none;

        a{
        color: $primary;
        font-size: calc(1em + 2vmin);
        }
    }
}


// #head{
//     transform: rotate(10deg);
//     transform-origin: center;
// }


@import '_mobMain.scss';
@import '_loader.scss';